.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
node_modules
apps/morpheus-studio/node_modules
apps/morpheus-studio/release
apps/morpheus-studio/dist
projects/*/.cache
projects/*/logs
projects/*/video/export
supabase/.temp
